<nav>
    <a class="<%= currentPage === 'home' ? 'current' : '' %>" href="/">Home</a>

    <a class="<%= currentPage === 'cpu' ? 'current' : '' %>" href="/cpu">CPU</a>

    <a class="<%= currentPage === 'memory' ? 'current' : '' %>" href="/memory">
        Memory & Storage
    </a>

    <a class="<%= currentPage === 'devices' ? 'current' : '' %>" href="/devices">
        Input & Output
    </a>

    <a class="<%= currentPage === 'tech-news' ? 'current' : '' %>" href="/tech-news">
        Tech News
    </a>
</nav>